#chat-component {
  .chat-title {
    background-color: #7c3aed;
    color: white;
  }

  .close-chat svg {
    color: white;
  }

  #open-chat {
    background-color: #7c3aed;
  }

  #chat-container {
    width: calc(100vw - 50px);
    min-width: 470px;
    max-width: 768px;
  }
}
